<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Diagnosis</title>
    <link rel="stylesheet" href="/styles/diagnosis.css">
</head>
<body>
    <div class="container">
        <% if (disease) { %>
            <h2>According to the symptoms provided, you might be diagnosed with: <span class="disease-name"><%= disease %></span></h2>
            <p><%= description %></p>
        <% } else { %>
            <h3>We are unable to diagnose a disease based on the symptoms you have provided.</h3>
        <% } %>

        <h2>Suggested Precautions:</h2>
        <ul>
            <% precaution.forEach(precaut => { %>
                <li><%= precaut %></li>
            <% }); %>
        </ul>

        <h3 class="noteclass">Please note:</h3>
        <p id="id1">This tool is not designed to provide a definitive diagnosis or medical recommendation. The results provided are based solely on the symptoms provided and should not be considered a conclusive diagnosis. The accuracy and reliability of the tool's results may vary and are not guaranteed.</p>

        <h1 class="disclaimer">DISCLAIMER</h1>
        <p>This tool is not a substitute for professional medical advice, diagnosis, or treatment. If you are experiencing any symptoms or health concerns, please consult a qualified healthcare provider immediately. Do not rely solely on the information provided by this tool for medical decisions. Ignoring professional medical advice or delaying seeking medical attention can result in serious health consequences. If you are experiencing a medical emergency, call your local emergency services immediately.</p>

        <a href="/dashboard">Go to Home</a>
    </div>
</body>
</html>