<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/getDiagnosis.css">
</head>
<body>
    <form action="/diagnosis" method="post">
        <label for="symptoms">Choose your Symptoms</label>
        <input list="symptoms" name="symptom1" id="symptom" placeholder="enter symptom" class="inpt" required>
        <input list="symptoms" name="symptom2" id="symptom" placeholder="enter symptom" class="inpt" required>
        <input list="symptoms" name="symptom3" id="symptom" placeholder="enter symptom" class="inpt" required>
        <input list="symptoms" name="symptom4" id="symptom" placeholder="enter symptom" class="inpt">
        <input list="symptoms" name="symptom5" id="symptom" placeholder="enter symptom" class="inpt">
        
        <datalist id="symptoms">
            <option value='yellow_crust_ooze'>
                <option value='joint_pain'>
                <option value='headache'>
                <option value='mucoid_sputum'>
                <option value='yellowing_of_eyes'>
                <option value='swelling_of_stomach'>
                <option value='abdominal_pain'>
                <option value='irritation_in_anus'>
                <option value='acidity'>
                <option value='neck_pain'>
                <option value='swelling_joints'>
                <option value='shivering'>
                <option value='mild_fever'>
                <option value='cold_hands_and_feets'>
                <option value='unsteadiness'>
                <option value='loss_of_balance'>
                <option value='knee_pain'>
                <option value='extra_marital_contacts'>
                <option value='passage_of_gases'>
                <option value='foul_smell_of urine'>
                <option value='fatigue'>
                <option value='dizziness'>
                <option value='continuous_sneezing'>
                <option value='stiff_neck'>
                <option value='cramps'>
                <option value='bruising'>
                <option value='stomach_pain'>
                <option value='yellowish_skin'>
                <option value='polyuria'>
                <option value='family_history'>
                <option value='dehydration'>
                <option value='coma'>
                <option value='pain_during_bowel_movements'>
                <option value='lethargy'>
                <option value='visual_disturbances'>
                <option value='weight_gain'>
                <option value='obesity'>
                <option value='swelled_lymph_nodes'>
                <option value='drying_and_tingling_lips'>
                <option value='patches_in_throat'>
                <option value='pus_filled_pimples'>
                <option value='swollen_extremeties'>
                <option value='blackheads'>
                <option value='loss_of_appetite'>
                <option value='fast_heart_rate'>
                <option value='blister'>
                <option value='distention_of_abdomen'>
                <option value='burning_micturition'>
                <option value='constipation'>
                <option value='history_of_alcohol_consumption'>
                <option value='itching'>
                <option value='spotting_ urination'>
                <option value='malaise'>
                <option value='brittle_nails'>
                <option value='vomiting'>
                <option value='ulcers_on_tongue'>
                <option value='weakness_of_one_body_side'>
                <option value='nodal_skin_eruptions'>
                <option value='congestion'>
                <option value='muscle_wasting'>
                <option value='belly_pain'>
                <option value='painful_walking'>
                <option value='pain_behind_the_eyes'>
                <option value='dischromic _patches'>
                <option value='receiving_blood_transfusion'>
                <option value='swollen_legs'>
                <option value='altered_sensorium'>
                <option value='blurred_and_distorted_vision'>
                <option value='bloody_stool'>
                <option value='watering_from_eyes'>
                <option value='prominent_veins_on_calf'>
                <option value='palpitations'>
                <option value='red_spots_over_body'>
                <option value='diarrhoea'>
                <option value='fluid_overload'>
                <option value='inflammatory_nails'>
                <option value='blood_in_sputum'>
                <option value='pain_in_anal_region'>
                <option value='increased_appetite'>
                <option value='depression'>
                <option value='acute_liver_failure'>
                <option value='small_dents_in_nails'>
                <option value='yellow_urine'>
                <option value='throat_irritation'>
                <option value='swollen_blood_vessels'>
                <option value='dark_urine'>
                <option value='rusty_sputum'>
                <option value='receiving_unsterile_injections'>
                <option value='mood_swings'>
                <option value='restlessness'>
                <option value='phlegm'>
                <option value='irregular_sugar_level'>
                <option value='scurring'>
                <option value='internal_itching'>
                <option value='breathlessness'>
                <option value='sunken_eyes'>
                <option value='sweating'>
                <option value='muscle_weakness'>
                <option value='red_sore_around_nose'>
                <option value='hip_joint_pain'>
                <option value='chills'>
                <option value='toxic_look_(typhos)'>
                <option value='high_fever'>
                <option value='chest_pain'>
                <option value='muscle_pain'>
                <option value='spinning_movements'>
                <option value='redness_of_eyes'>
                <option value='puffy_face_and_eyes'>
                <option value='excessive_hunger'>
                <option value='nausea'>
                <option value='slurred_speech'>
                <option value='runny_nose'>
                <option value='indigestion'>
                <option value='irritability'>
                <option value='abnormal_menstruation'>
                <option value='weakness_in_limbs'>
                <option value='stomach_bleeding'>
                <option value='back_pain'>
                <option value='anxiety'>
                <option value='continuous_feel_of_urine'>
                <option value='loss_of_smell'>
                <option value='bladder_discomfort'>
                <option value='enlarged_thyroid'>
                <option value='silver_like_dusting'>
                <option value='sinus_pressure'>
                <option value='skin_peeling'>
                <option value='skin_rash'>
                <option value='weight_loss'>
                <option value='movement_stiffness'>
                <option value='cough'>
                <option value='lack_of_concentration'>
        </datalist>
        <button type="submit">submit</button>
    </form>
</body>
</html>