<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login2.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"></script>"
</head>
<body>
    <div class="wrapper">
        <form action="/" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" name='username' required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password" id="pass" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="remember-password">
                <label>
                    <input type="checkbox">
                    Remember Me
                </label>
                <a style="color: black;" href="/*url for password recovery process*/">Forgot Password</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="/register">Register Here</a></p>
            </div>

        </form>
    </div>
</body>
</html>





